/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/
*{
  padding: 0;
  margin: 0;
}
header{
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
}
nav{

    background-color:#000000;
    text-align: right;
    text-decoration: none;
  }
  h5 {
    text-align: left;
    display:flex;
    float:left;
    padding-top:24px;
    padding-left: 50px;
    color: white;
    size: 15px;
  }
  nav ul{
    list-style: none;
    display: inline-block;
    padding:18px;
    text-decoration: none;

 }
 nav ul li{
    float: left;

}
nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}
nav ul li a:hover{
    transition: 1s ease-in-out;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
  }
